div{
    font-weight: 20px;
    background-color: black;
    color:white;
    transition: font-size 1s, color 2s, background-color 2s;
}

div:active{
    font-size: 25px;
    color: black;
    background-color: white;
}
