#p1{
    color: aliceblue;
}

#p2{
    color: antiquewhite;
}

#p3{
    color: aqua;
}

#p4{
    color: aquamarine;
}

#p5{
    color: azure;
}

.button{
    background-color: black
}